<div style="display: flex; flex-direction: column; gap: 18px;">
  <cds-text-label
  [invalid]="false"
  invalidText="invalidText">
  Email
  <input
      cdsText
      size="md"
      theme="dark"
      placeholder="Inserisci la tua email">
  </cds-text-label>

  <div class="container-login-button">
    <button
      style="display: flex; align-items: center; width: 100% !important"
      id="button-login"
      cdsButton="primary"
      type="button"
      size="md"
      [isExpressive]="false"
      (click)="authService.login()"
      >
      <span style="margin-left: 40px;">
        <img src="../../../../assets/icons/send-email.gif">
      </span>
    </button>
  </div>
</div>
