<div style="display: flex; flex-direction: column; gap: 18px;">
  <cds-text-label
  [invalid]="false"
  invalidText="invalidText">
  Email
  <input
      cdsText
      size="md"
      theme="dark"
      placeholder="Inserisci la tua email">
  </cds-text-label>

  <div class="container-login-button">
    <button
      style="display: flex; align-items: center; width: 100% !important"
      id="button-login"
      cdsButton="primary"
      type="button"
      size="md"
      [isExpressive]="false"
      >
      <span style="margin-left: 40px;">
        Invia email
      </span>
    </button>
  </div>

  <div>
    <span (click)="loginComponent.OnshowAccedi()" style="font-size: 14px;" id="buttonBackToLogin">Torna alla login</span>
  </div>

</div>
