.global-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-title{
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.cds--overflow-menu-options__option:hover{
  background-color: #b5b5b5;
}

.container-label-title{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-list-snippet-vertical{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 0 0 35%; /* Set flex-grow, flex-shrink, and flex-basis to 30% */
}

.section-list-snippet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}

.two-element-list-snippet-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
}

.title-section{
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.container-title-and-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snippet-card{
  width: 100%;
  background-color: #393939;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container-content-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 20px;
}

.container-tags{
  display: flex;
  gap: 5px;
}

.cds--tag{
  margin: 0 !important;
}

.container-title-card{
  display: flex;
  gap: 5px;
}

.footer-card-snippet{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 6px;
}

:host ::ng-deep .cds--overflow-menu:hover, .cds--overflow-menu__trigger:hover{
  background-color: #0050e6 !important;
}

:host ::ng-deep .cds--overflow-menu, .cds--overflow-menu__trigger{
  background-color: #0F62FE !important;
}

.color-item-menu-list{
  background-color: rgb(216, 216, 216);
}

.container-double-section{
  display: flex;
  gap: 18px;
}

.section-snippet-detail{
  border-left: 1px solid white;
  padding-left: 18px;
}

.section-snippet-detail{
  width: 100% !important;
}

.container-content-snippet-detail{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container-snippet-detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-content-type-text{
  padding: 10px;
  background-color: #393939;
  border-left: 5px solid white;
  line-height: 21px;
}

.container-content-type-link{
  padding: 10px;
  background-color: #393939;
  border-left: 5px solid #0F62FE;
  line-height: 21px;
}

:host ::ng-deep .cds--snippet--single{
  max-inline-size: none;
}

.content-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-action-page{
  display: flex;
  gap: 5px;
}

.dropdown-filter{
  min-width: 260px;
}

.container-title-section-detail-snippet{
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .button-menu-action{
  background-color: #0f62fe !important;
}

.container-code-snippet{
  height: 100%;
}

.color-border-code-section{
  border-left: 5px solid #00ff0075;
  padding: 10px;
}

.container-section-snippet-type-image{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 100%;
}

.card-snippet-imag {
  position: relative;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.card-snippet-imag img {
  width: 100%;
  height: 100%;
  background-color: #393939;
  object-fit: cover;
}

.errorOverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.295);
  padding: 6px 12px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card-snippet-imag .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.641);
  padding: 6px 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-snippet-imag:hover .overlay {
  opacity: 1;
}

/* CAROSELLO IMMAGINI */
.container-carosello-list-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%; /* Assicura che l'immagine si adatti alla larghezza del contenitore */
  flex-shrink: 0;
  flex: 0 0 100%; /* Assicura che ogni immagine occupi il 100% della larghezza del contenitore */
}

.copyLink:hover {
  cursor: pointer;
}
