.global-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-title{
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.container-label-title{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-list-snippet-vertical{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 0 0 38%; /* Set flex-grow, flex-shrink, and flex-basis to 30% */
}

.section-list-snippet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}

.title-section{
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.container-title-and-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snippet-card{
  width: 100%;
  background-color: #393939;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container-content-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 20px;
}

.container-tags{
  display: flex;
  gap: 5px;
}

.cds--tag{
  margin: 0 !important;
}

.container-title-card{
  display: flex;
  gap: 5px;
}

.footer-card-snippet{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 6px;
}

:host ::ng-deep .cds--overflow-menu:hover, .cds--overflow-menu__trigger:hover{
  background-color: #0050e6 !important;
}

:host ::ng-deep .cds--overflow-menu, .cds--overflow-menu__trigger{
  background-color: #0F62FE !important;
}

.color-item-menu-list{
  background-color: rgb(216, 216, 216);
}

.container-double-section{
  display: flex;
  gap: 18px;
}

.section-snippet-detail{
  border-left: 1px solid white;
  padding-left: 18px;
}

.section-snippet-detail{
  width: 100% !important;
}

.container-content-snippet-detail{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container-snippet-detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-content-type-text{
  padding: 10px;
  background-color: #393939;
  border-left: 5px solid #0F62FE;
  line-height: 21px;
}

:host ::ng-deep .cds--snippet--single{
  max-inline-size: none;
}

.content-card-snippet{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-action-page{
  display: flex;
  gap: 5px;
}

.dropdown-filter{
  min-width: 260px;
}

.container-title-section-detail-snippet{
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .button-menu-action{
  background-color: #0f62fe !important;
}

.code-snippet-container{
  height: 100%;
  padding: 8px;
  border-left: 5px solid #00ff0075;
}
