<div style="display: flex; flex-direction: column; gap: 18px;">

  <!-- FORM LOGIN -->

  <div class="container-form">

    <cds-text-label
    [invalid]="false"
    invalidText="invalidText">
    Email
    <input
        cdsText
        size="md"
        theme="dark"
        placeholder="Inserisci la tua email">
    </cds-text-label>

    <cds-password-label
    [invalid]="false"
    invalidText="invalidText">
    Password
    <input
      cdsPassword
      type="password"
      size="md"
      theme="dark"
      placeholder="Inserisci la tua password">
    </cds-password-label>

  </div>

  <!-- REMEMBER ME & FORGOT PASSWORD -->

  <div class="container-remember-forgot">
    <div>
      <cds-checkbox
        [indeterminate]="false"
        [checked]="keepConnectCheck"
        [hideLabel]="false"
      >
        Resta connesso
      </cds-checkbox>
    </div>
    <div>
      <span id="forgonLink" (click)="loginComponent.OnshowForgotPassword()">Password dimenticata?</span>
    </div>
  </div>

  <!-- LOGIN BUTTON -->

  <div class="container-login-button">
    <button
      style="display: flex; align-items: center;"
      id="button-login"
      cdsButton="primary"
      type="button"
      size="md"
      [isExpressive]="false"
      (click)="authService.login()"
      >
      <span style="margin-left: 40px;">Accedi</span>
    </button>
  </div>

  <!-- REGISTER LINK -->

  <div class="container-registrati-link">
    <span>Non hai ancora un account?</span>
    <span id="registratiLinkButton">Registrati</span>
  </div>
</div>