<div style="display: flex; flex-direction: column; gap: 18px;">

  <!-- FORM LOGIN -->

  <form [formGroup]="userForm" class="container-form">

    <cds-text-label
    [invalid]="userForm.touched && !userForm.get('email')!.valid"
    [invalidText]="EmailInvalidText">
    Email
    <input
        cdsText
        type="email"
        size="md"
        autocomplete="email"
        theme="dark"
        formControlName="email"
        placeholder="Inserisci la tua email">
    </cds-text-label>

    <cds-password-label
    [invalid]="userForm.touched && !userForm.get('password')!.valid"
    invalidText="La password è obbligatoria">
    Password
    <input
      cdsPassword
      autocomplete="new-password"
      type="password"
      size="md"
      theme="dark"
      formControlName="password"
      placeholder="Inserisci la tua password">
    </cds-password-label>

    <!-- REMEMBER ME & FORGOT PASSWORD -->

    <div class="container-remember-forgot">
      <div>
        <cds-checkbox
          [indeterminate]="false"
          formControlName="keepConnect"
          [hideLabel]="false"
        >
          Resta connesso
        </cds-checkbox>
      </div>
      <div>
        <span id="forgonLink" (click)="loginComponent.OnshowForgotPassword()">Password dimenticata?</span>
      </div>
    </div>

  </form>

  

  <!-- LOGIN BUTTON -->

  <div class="container-login-button">
    <button
      style="display: flex; align-items: center;"
      id="button-login"
      cdsButton="primary"
      type="button"
      size="md"
      [isExpressive]="false"
      (click)="Login()"
      >
      <span style="margin-left: 40px;">Accedi</span>
    </button>
  </div>

  <!-- REGISTER LINK -->

  <div class="container-registrati-link">
    <span>Non hai ancora un account?</span>
    <span id="registratiLinkButton" (click)="loginComponent.onShowRegistrati()">Registrati</span>
  </div>
</div>