<div class="container-global">

  <!-- SEZIONE TITOLO -->
  <div class="container-icon-label">
    <img src="../assets/icons/settingsIcon.svg" width="30" height="30" alt="Icona">
    <span class="title-lg">Impostazioni</span>
  </div>

  <!-- SEZIONE ELENCO -->
  <div style="margin-top: 30px;">
    <div style="display: flex; flex-direction: column; gap: 8px;">
      <span class="title">Tema</span>
      <div style="display: flex; gap: 8px;">
        <div class="card-tema">
          
        </div>
        <div class="card-tema">2</div>
        <div class="card-tema">3</div>
      </div>
    </div>
  </div>

</div>