/* .container-global{
  display: flex;
  flex-direction: column;
  gap: 45px;
} */

.container-global-noLoggedIn{
  height: 100vh;
}

.container-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.container-router-outlet {
  padding-top: 48px;
  height: calc(100vh);
  overflow-y: auto;
  transition: margin-left 0.1s ease;
  transition: margin-left 0.1s ease-in;
}

.router-outlet-shifted {
  margin-left: 256px !important; /* Move the element 40px to the left */
}

.router-outlet-not-shifted {
  margin-left: 48px !important; /* Move the element 40px to the left */
}

.header-item{
  display: flex;
  gap: 7px;
  flex-direction: row;
}

.container-button-add-repository{
  display: flex;
  justify-content: center;
}

.menu-button{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}