<div class="container-global">

    <!-- SEZIONE TITOLO -->
    <div class="container-icon-label">
        <img src="../../../assets/icons/userProfile.svg" width="30" height="30" alt="Icona">
        <span class="title-lg">Account</span>
    </div>

    <div class="container-avatar-info-user">

        <div class="avatar-wrapper">
            <img mat-card-image [src]="userPhoto" class="avatar">
            <span class="edit-label">Modifica</span>
        </div>        

        <div class="flex direction-column gap-3 mt-1">
            <span class="label">Email:</span>
            <span>{{user.email}}</span>
        </div>
    </div>

    <div class="flex gap-3">
        <cds-button-set style="width: 220px;">
            <button cdsButton="secondary" size="sm" [isExpressive]="true"> Cambia password </button>
            <button cdsButton size="sm" cdsButton="danger" [isExpressive]="true" (click)="authService.logout()"> Disconnetti </button>
        </cds-button-set>
    </div>

</div>