.container-global{
    padding: 20px;
    padding-top: 15px;
}

.container-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-flag-label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}