/* You can add global styles to this file, and also import other style files */
@import "@carbon/styles/css/styles.css";


.i-w {
  fill: white;
}

.title{
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.title-lg{
  font-size: 29px;
  font-weight: 600;
  color: white;
}

.container-icon-label{
  display: flex;
  gap: 5px;
}

.cds--header-panel.cds--header-panel--expanded{
  width: 457px !important;
}