/* You can add global styles to this file, and also import other style files */
/* @use '@carbon/colors'; */
@import "@carbon/styles/css/styles.css";


.i-w {
  fill: white;
}

.title{
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.title-lg{
  font-size: 29px;
  font-weight: 600;
  color: white;
}

.container-icon-label{
  display: flex;
  gap: 5px;
}

.cds--header-panel.cds--header-panel--expanded{
  width: 457px !important;
}

button.cds--btn.cds--btn--primary.cds--btn--sm.cds--layout--size-sm{
  display: flex;
  align-items: center;
}

.align-center{
  align-items: center;
}

.align-stretch{
  align-items: stretch;
}

.mt-1{
  margin-top: 10px;
}

.mt-2{
  margin-top: 20px;
}

.mt-3{
  margin-top: 30px;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.justify-space-between{
  justify-content: space-between;
}

.align-start{
  align-items: flex-start;
}

.gap-3{
  gap: 3px;
}

.gap-5{
  gap: 5px;
}

.gap-8{
  gap: 8px;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

fieldset {
  display: flex;
  flex-direction: row;
}

.cds--snippet--multi .cds--snippet-container{
  overflow: hidden;
}

.mb-1{
  margin-bottom: 10px;
}

.avatar {
  width: 100px; /* Larghezza dell'avatar */
  height: 100px; /* Altezza dell'avatar */
  border-radius: 50%; /* Rende l'immagine rotonda */
  border: 2px solid #0f62fe; /* Bordo attorno all'immagine */
  object-fit: cover; /* Garantisce che l'immagine copra l'intera area */
}

.flex{
  display: flex !important;
}

.direction-column{
  flex-direction: column !important;
}